<%= flash[:alert] %>
<% @recipe.errors.full_messages.each do |error|%>
  <p> <%= error %> </p>
<% end %>
<%= form_for @recipe do |f| %>

    <%= f.label :title, 'Título' %>
    <p><%= f.text_field :title %></p>
    <%= f.label :recipe_type_id, 'Tipo da Receita' %>
    <p><%= f.collection_select :recipe_type_id, @recipe_types, :id, :name %></p>
    <%= f.label :cuisine, 'Cozinha' %>
    <p><%= f.text_field :cuisine %></p>
    <%= f.label :difficulty, 'Dificuldade' %>
    <p><%= f.text_field :difficulty %></p>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <p><%= f.number_field :cook_time %></p>
    <%= f.label :ingredients, 'Ingredientes' %>
    <p><%= f.text_area :ingredients %></p>
    <%= f.label :cook_method, 'Como Preparar' %>
    <p><%= f.text_area :cook_method %></p>
    <%= f.submit 'Enviar' %>


  <% end %>
